editor-window {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: monospace, monospace;
    font-size: 1rem;
    white-space: pre;
    width: 100%;
    height: 100%;
}

editor-window * {
    font-family: monospace, monospace;
    font-size: 1rem;
    white-space: pre;
    padding: 0px;
    margin: 0px;
    color: white;
}

editor-window .line-nrs {
    margin-left: 1ch;
    text-align: right;
}


editor-window .code {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: max-content;
    overflow-y: hidden;
    overflow-x: auto;
}

editor-window .colors {
    padding-left: 0.5rem;
    position: absolute;
    left: 0px;
    pointer-events: none;
    color: #4ec9b0;
}

editor-window textarea {
    padding-left: 0.5rem;
    caret-color: white;

    height: max-content;
    min-width: calc(100% - 6ch);
    overflow: hidden;    
    
    resize: none;
    background-color: black;
    color: transparent;
    caret-color: white;
}

editor-window .line-nrs > div {
    position: relative;
}

editor-window .line-nrs > div::before {
    position: absolute;
    right: 100%;
    content: "o";
    color: darkgray;
}

.pc-line {
    color: greenyellow;
}

editor-window .line-nrs > .pc-line::before {
    content: ">" !important;
    color: greenyellow;
}

editor-window .line-nrs > div:hover::before {
    color: rgb(206, 47, 47);
}

editor-window .line-nrs > .debug-line::before {
    color: red;
    content: "@";
}

.opcode, .dw, .name {
    color: #569cd6;
}
.expansion, .comparator {
    color: white;
}
.number {
    color: #b5cea8;
}
.memory, .port {
    color: #4ec9b0;
}
.quote-char, .quote-string, .text {
    color: #ce9178;
}
.escape {
    color: #d7ba7d
}
.register {
    color: #9cdcfe;
}
.white, .white-inline {
    text-decoration: underline dashed rgb(69, 69, 69);
}
.macro {
    color: #c586c0;
}
.error {
    text-decoration: underline wavy red;
}
.comment, .comment-multi {
    color: #6a9955;
}
.label, .relative {
    color: #dcdcaa
}

.square-open, .square-close {
    color: white;
}

.error-text {
    color: #f33;
}