@font-face {
  font-family: "unscii";
  src: url("unscii-16.ttf") format("ttf") url("unscii-16.woff") format("woff");
}
a {
  color: lightgrey;
}
a:visited {
  color: lightblue;
}
a:hover {
  color: white;
}
html, body {
  margin: 0;
  width: 100%;
}
main > * {
  width: max-content;
}
canvas {
  background-color: black;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: 0.1rem solid rgb(53, 53, 53);
}
canvas:fullscreen {
  border: none;
}
editor-window {
  overflow-x: hidden !important;
  min-width: 45em;
  width: max-content !important;
}
editor-window > div > textarea {
  outline: none;
}
html {
  font-family: "unscii";
  background: #303030;
  color: #EEE;
}

textarea {
  background-color: #444;
  color: #FFF;
  border: 0px;
  font-family: "unscii";
}

#register-view {
  overflow-x: auto;
}

#stdout {
  height: 40ch;
  width: 40ch;
  overflow: scroll;
  background: #000;
  color: #FFF;
  font-family: monospace;
  display: block;
  white-space: pre;
  resize: auto;
}

#stdin {
  background: #444;
  color: #fff;
  font-family: unscii;
  border: 0px;
}

#source-tab {
  overflow: auto;
  max-width: 50em;
  max-height: 50em;
}

button {
  background: #444;
  color: #EEE;
  font-family: unscii;
  width: 20%;
  border: 0px;
  filter: brightness(75%);
}
button:hover {
  filter: brightness(85%);
}
button:disabled {
  filter: brightness(40%);
}
button:active {
  filter: brightness(100%);
}

input {
  font-family: unscii;
  background: #444;
  color: #FFF;
  border: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

select {
  background-color: #444;
  color: #EEE;
  font-family: unscii;
  border: 0px;
}
.major-button {
  margin: 0.5em;
}
#share-button {
  font-family: codicon;
}
#right-area label {
  padding-right: 0.5em;
}
#build-output-tab pre {
  white-space: pre-wrap;
}
#display-tab canvas {
  width: 75%;
  display: block;
}
#right-area details > a {
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}
.fullwidth {
  width: 100% !important;
}
buffer-view {
  width: 100%;
  height: 10vh;
  resize: vertical;
}
#flex-wrapper {
  display: flex;
  gap: 2rem;
}